@model WebApplication1.Models.Linija.GradDodajVM

@{ Layout = null;}



<form asp-action="GradSnimi" asp-controller="Linija">


    <div  class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Uredi</h1>
            </div>
            <div class="modal-body">
                <div>
                    <input hidden readonly asp-for="GradID" />
                </div>
                <div>
                    <label>Drzava</label>
                    <select asp-for="DrzavaID" asp-items="@Model.drzave"></select>
                </div>
                <div>
                    <label>Grad</label>
                    <input asp-for="Naziv" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" value="Odustani" onClick="document.location.reload(true)">
                <input type="submit" name="Snimi" value="Sačuvaj" />
            </div>
        </div>
    </div>
</form>
               
